* {
    box-sizing: border-box;
}

body {
    background-color:#ffffff;
    font-family: 'Noticia Text', serif;
}

.con-header {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    font-size: 40px;
}

.con-nav {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    padding-top: 20px;
}
.con-nav a {
    text-decoration: none;
    background-color: tomato;
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
    width: auto;
}

.con-nav a:hover{
    background-color: #ffffff;
    color: tomato;
    border: 1px solid tomato;
}

.con-content {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    margin-top: 50px;
}

.con-news-card {
    border: 1px solid grey;
    margin: 5px 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: aliceblue;
}

.con-news-card:hover {
    background-color: #ffffff;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.con-news-card a {
    text-decoration: none;
    padding: 0px 10px;
    background-color: blue;
    color: #ffffff;
    border-radius: 5px;
    margin: 0px 5px;
}
.con-news-card .save {
    background-color: green;
}
